*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}

p{
    margin-top: 50px;
  font-size: 50px;
  font-weight: bold;

  background: linear-gradient(90deg, #e66465, #9198e5);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;

  background-clip: text;         
  color: transparent;

}
button{
    margin-top:20px;
    min-height: 30px;
    min-width: 220px;
    border: 0px;
    border-radius: 2rem;
    background-color: #C0C0C0;
    font-size: 1rem;
    cursor: pointer;
}