* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
  text-align: center;
}
h2 {
  font-size: 2rem;
  margin-top: 40px;

  background: linear-gradient(90deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
.slider {
  max-width: 200px;
  min-height: 300px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
}
.next {
  position: absolute;
  top: 50%;
  left: 90%;
}
.prev {
  position: absolute;
  top: 50%;
  left: 0%;
}
.track {
  display: flex;
  transition: transform 0.4s ease;
}
.track img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}
