* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121215;
  text-align: center;
}
h2 {
  margin-top: 20px;
  font-size: 4rem;
  background: linear-gradient(90deg, #e66465, #9198e5);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-clip: text;
  background-color: transparent;
}
.tags {
  border-radius: 2rem;
  min-height: 25px;
  max-width: 250px;
  margin: 10px auto;
  display: flex;
  gap: 2px;
}
#task-input {
  height: 25px;
  min-width: 70%;
  outline: none;
  border: 0px;
  border-radius: 2rem 0 0 2rem;
  text-align: center;
  text-transform: capitalize;
}
#add-item {
  font-size: 0.7rem;
  color: #f8f7f9;
  height: 25px;
  min-width: 30%;
  border-radius: 0 2rem 2rem 0;
  border: 2px solid #559144;
  background-color: #559144;
  cursor: pointer;
}
.added-item {
  height: 25px;
  min-width: 70%;
  outline: none;
  border: 0px;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: #f8f7f9;
}
.remove-item {
  font-size: 0.7rem;
  color: #f8f7f9;
  height: 25px;
  min-width: 30%;
  border-radius: 0 2rem 2rem 0;
  border: 2px solid #ed1f67;
  background-color: #ed1f67;
  cursor: pointer;
}
