* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121513;
  text-align: center;
}
h2 {
  margin: 5rem;
  font-size: 4rem;
  font-weight: 600;

  background: linear-gradient(90deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
#input-box {
  min-width: 250px;
  min-height: 30px;
  border: 0;
  border-radius: 2rem;
  outline: none;

  font-size: 1rem;
  text-align: center;
}
p {
  margin: 5rem;
  font-size: 1.5rem;
  font-weight: 700;

  background: linear-gradient(90deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
