* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #212121;
  text-align: center;
}
h2 {
  font-size: 3rem;
  margin: 50px;

  background: linear-gradient(90deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  background-color: transparent;
}
#clock {
  min-height: 250px;
  max-width: 250px;
  margin: 20px auto;
  border: 5px solid #f7f7f7;
  border-radius: 50%;
  display: flex;
  position: relative;
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom; /* clock hand bottom se roate krega  */
  border-radius: 2rem;
}
.hour {
  height: 70px;
  width: 6px;
  background: #f7f7f7;
}

.minute {
  height: 100px;
  width: 4px;
  background: #f7f7f7;
}

.second {
  height: 120px;
  width: 2px;
  background: red;
}
