*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121513;
    text-align: center;
    color: white;
}

h2{
    font-size: 5rem;

    background:linear-gradient(90deg , #e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip:text;
    background-color: transparent;
}
#box{
    min-height: 220px;
    max-width: 200px;
    margin: 20px auto;
    border: 5px solid #f4f8f8;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#button-box{
    min-height:100%;
    max-width: 200vh;
    /* margin-top:45%; */
    display: flex;
    justify-content: center;
    gap: 50px;
}
.button{
    height: 40px;
    width: 40px;
    border: 4px solid #f3f8f9;
    background-color: transparent;
    color:#f3f8f9;
    border-radius: 2rem;
    font-size: 2rem;
}
#subtraction{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 50px;
    margin-top: 50px;
    background:linear-gradient(90deg, #e66465, #9198e5);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip:text;
    color: transparent;
}